.header-timer-controls {
  display: flex;
  align-items: center;
  gap: 2rem;

  .timer-control-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        filter: brightness(1.2);
        cursor: pointer;
      }

      &.iniciar-jornada {
        background-color: #3366cc !important;
      }

      &.finalizar-jornada {
        background-color: #e74c3c !important;
      }

      // &.pausar-jornada {
      //     background-color: #00a86b !important;
      // }

      // &.reanudar-jornada {
      //     background-color: #34495e !important;
      // }
    }
  }

  .tracking-form {
    text-align: center !important;

    o-combo {
      width: 400px;
    }
  }
}