<o-form service="tasks" entity="task" keys="T_ID" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
      <o-text-input fxFlex="100" class="input-padding" attr="T_NAME" required="yes"></o-text-input>
  </o-row>
  <o-row>
      <o-textarea-input fxFlex="100" class="input-padding" attr="T_DESCRIPTION" required="no" resizable="no"></o-textarea-input>
  </o-row>
  <o-row>
      <o-combo fxFlex="100" attr="P_ID" label="SELECT_PROJECT" service="projects" entity="projectTotalTime" searchable="yes"
          value-column="P_ID" columns="P_ID;P_NAME" visible-columns="P_NAME" keys="P_ID" required="yes" enabled="no">
      </o-combo>
  </o-row>
</o-form>
