<o-form-layout-manager mode="dialog" attr="recordForm">
   <o-form-layout-dialog-options width="600px" height="450px" disable-close="false"></o-form-layout-dialog-options>

   <o-form show-header="no">
      <o-row layout-gap="25px" class="record-filters">
         <o-row fxFlexAlign="center" fxFlex="initial" title="{{ 'STARTDATE' | oTranslate }}" layout-gap="25px">
            <o-date-input attr="startInit" label="INIT" read-only="no" required="no"></o-date-input>
            <o-date-input attr="endInit" label="END" read-only="no" required="no"></o-date-input>
         </o-row>
         <o-row fxFlexAlign="center" fxFlex="initial" title="{{ 'ENDDATE' | oTranslate }}" layout-gap="25px">
            <o-date-input attr="startEnd" label="INIT" read-only="no" required="no"></o-date-input>
            <o-date-input attr="endEnd" label="END" read-only="no" required="no"></o-date-input>
         </o-row>
         <o-column fxFlexAlign="center" layout-gap="18px">
            <o-row>
               <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" label="CLEAR" class="filter-button">
               </o-button>
            </o-row>
            <o-row>
               <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" label="FILTER" class="filter-button">
               </o-button>
            </o-row>
         </o-column>
      </o-row>

      <o-filter-builder #filterBuilder attr="thefilter"
         filters="STARTDATE_I:startInit;STARTDATE_E:endInit;ENDDATE_I:startEnd;ENDDATE_E:endEnd" [target]="recordTable"
         query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>

      <div fxFill fxLayout="column" fxLayoutAlign="start">
         <o-table #recordTable fxFlex attr="recordTable" service="timers" entity="record" keys="TM_ID"
            columns="TM_ID;P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION;TM_DURATION_DECIMAL" virtual-scroll="no"
            delete-button="no" visible-columns="P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION;TM_DURATION_DECIMAL"
            default-visible-columns="P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION" query-rows="20">
            <o-table-column attr="P_NAME" title="P_NAME"></o-table-column>
            <o-table-column attr="T_NAME" title="T_NAME"></o-table-column>
            <o-table-column attr="TM_START_TIME" title="STARTDATE" type="date"
               format="DD/MM/YYYY HH:mm"></o-table-column>
            <o-table-column attr="TM_END_TIME" title="ENDDATE" type="date" format="DD/MM/YYYY HH:mm"></o-table-column>
            <o-table-column attr="TM_DURATION" title="TM_DURATION" class="text-center">
               <app-duration-render></app-duration-render>
            </o-table-column>
            <o-table-column attr="TM_DURATION_DECIMAL" title="TM_DURATION_DECIMAL" class="text-center">
               <app-duration-decimal-render></app-duration-decimal-render>
            </o-table-column>
         </o-table>
      </div>

   </o-form>
</o-form-layout-manager>