<o-form show-header="no">
    <o-column-collapsible title="{{ 'FILTERS_TASK' | oTranslate }}" appearance="outline">
       <o-row layout-gap="18px">
          <o-column fxFlex="50" title="{{ 'STARTDATE' | oTranslate }}">
             <o-date-input attr="startInit" label="INIT" read-only="no" required="no">{{ 'INIT' | oTranslate }}</o-date-input>
             <o-date-input attr="endInit" label="END" read-only="no" required="no">{{ 'END' | oTranslate }}</o-date-input>
          </o-column>
       </o-row>
       <o-row layout-align="end" layout-gap="18px">
          <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED" label="FILTER"
             class="filter-button">
          </o-button>
          <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED" label="CLEAR" class="filter-button">
            {{ 'CLEAR' | oTranslate }}
          </o-button>
       </o-row>
    </o-column-collapsible>
 
    <o-filter-builder #filterBuilder attr="thefilter"
       filters="STARTDATE_I:startInit;STARTDATE_E:endInit" [target]="recordTable"
       query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
	   
       <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table #recordTable fxFlex  attr="recordTable" service="timers" entity="record" keys="TM_ID"
                 columns="T_NAME;TM_DURATION;TM_START_TIME;TM_END_TIME"
                 visible-columns="T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION" query-rows="20">
                 <o-table-column attr="TM_START_TIME" title="TM_START_TIME" type="date" format="MM/DD/YYYY HH:mm:ss"></o-table-column>
                 <o-table-column attr="TM_END_TIME" title="TM_END_TIME" type="date" format="MM/DD/YYYY HH:mm:ss"></o-table-column>
                 <o-table-column attr="TM_DURATION" title="TM_DURATION">
                  <app-duration-render></app-duration-render>
                 </o-table-column>
        </o-table>
      </div>