<o-form-layout-manager mode="tab" label-columns="P_NAME" separator="" attr="projectsDetails">
  <o-form-layout-dialog-options width="800px" height="650px" disable-close="false"></o-form-layout-dialog-options>
    <div fxFill fxLayout="column" fxLayoutAlign="start">
      <o-table attr="projectTable" service="projects" entity="projectTotalTime" keys="P_ID"
        columns="P_ID;P_NAME;P_DESCRIPTION;P_DATE;PROJECT_TOTAL_TIME" virtual-scroll="no"
        visible-columns="P_NAME;P_DESCRIPTION;P_DATE;PROJECT_TOTAL_TIME" delete-button="no" query-rows="20">
        <o-table-column attr="P_NAME" title="P_NAME"></o-table-column>
        <o-table-column attr="P_DESCRIPTION" title="P_DESCRIPTION" multiline="no" max-width="250px"></o-table-column>
        <o-table-column attr="P_DATE" type="date" format="MM/DD/YYYY"></o-table-column>
        <o-table-column attr="PROJECT_TOTAL_TIME" title="PROJECT_TOTAL_TIME" class="text-center">
          <app-duration-render></app-duration-render>
        </o-table-column>
      </o-table>
    </div>
</o-form-layout-manager>
