<o-form-layout-manager mode="dialog" title="NEW_TASK" label-columns="T_NAME;T_DESCRIPTION;P_NAME" separator="" attr="taskDetails">
  <o-form-layout-dialog-options width="600px" height="450px" disable-close="false"></o-form-layout-dialog-options>
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="tasksTable" service="tasks" entity="projectTask" keys="T_ID"
             columns="T_ID;P_NAME;T_NAME;T_DESCRIPTION"
             visible-columns="P_NAME;T_NAME;T_DESCRIPTION" delete-button="no" query-rows="20">
    </o-table>
  </div>
</o-form-layout-manager>
