<o-form-layout-manager mode="dialog" title="NEW_TASK" label-columns="T_NAME;T_DESCRIPTION" separator=""
                       attr="o-form-layout-branches-home">
  <o-form-layout-dialog-options width="600px" height="400px" disable-close="false"></o-form-layout-dialog-options>
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="tasksTable" service="tasks" entity="task" keys="T_ID"
             columns="T_ID;T_NAME;T_DESCRIPTION"
             visible-columns="T_ID;T_NAME;T_DESCRIPTION" query-rows="20">
    </o-table>
  </div>
</o-form-layout-manager>
