<o-form service="tasks" entity="projectTask" (onDataLoaded)="print($event)" keys="T_ID" header-actions="R;U;D" show-header-navigation="no" undo-button="no">
    <o-text-input attr="T_ID" sql-type="INTEGER" hidden></o-text-input>
    <o-row fxFlex="50">
            <o-text-input class="input-padding" attr="P_NAME" fxFlex="40" required="no" read-only="yes"></o-text-input>
    </o-row>
    <mat-tab-group oTabGroup="ontimize">
        <mat-tab label="{{'TASK_DETAILS' | oTranslate}}">
            <o-column title-label="TASK_DETAILS" class="task-detail-form">
                <o-row>
                    <o-text-input class="input-padding" attr="T_NAME" fxFlex="60" required="no"></o-text-input>
                    <o-date-input attr="T_DATE" fxFlex="40" enabled="no"></o-date-input>
                </o-row>
                <o-row>
                    <o-textarea-input attr="T_DESCRIPTION" fxFlex="100"></o-textarea-input>
                </o-row>
                <o-row>
                    <o-text-input #userTime attr="USER_TASK_TIME" fxFlex="100" read-only="yes" enabled="no"></o-text-input>
                    <o-text-input #userTotal attr="TOTAL_TASK_TIME" fxFlex="100" read-only="yes"></o-text-input>
                </o-row>
                <o-row>
                    <o-checkbox class="finishTaskCheckbox" attr="T_FINISHED" label="FINISHED_TASK"
                        read-only="no"></o-checkbox>
                </o-row>
            </o-column>
        </mat-tab>
        <mat-tab label="{{'RECORD' | oTranslate}}">
            <o-table fxFlex attr="recordTable" service="timers" entity="record" keys="TM_ID" parent-keys="T_ID"
                columns="TM_ID;P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION;TM_DURATION_DECIMAL"
                virtual-scroll="no" controls="no"
                visible-columns="P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION;TM_DURATION_DECIMAL"
                default-visible-columns="P_NAME;T_NAME;TM_START_TIME;TM_END_TIME;TM_DURATION" query-rows="20">
                <o-table-column attr="P_NAME" title="P_NAME"></o-table-column>
                <o-table-column attr="T_NAME" title="T_NAME"></o-table-column>
                <o-table-column attr="TM_START_TIME" title="STARTDATE" type="date"
                    format="DD/MM/YYYY HH:mm"></o-table-column>
                <o-table-column attr="TM_END_TIME" title="ENDDATE" type="date"
                    format="DD/MM/YYYY HH:mm"></o-table-column>
                <o-table-column attr="TM_DURATION" title="TM_DURATION" class="text-center">
                    <app-duration-render></app-duration-render>
                </o-table-column>
                <o-table-column attr="TM_DURATION_DECIMAL" title="TM_DURATION_DECIMAL" class="text-center">
                    <app-duration-decimal-render></app-duration-decimal-render>
                </o-table-column>
            </o-table>
        </mat-tab>
    </mat-tab-group>
</o-form>