.finishTaskCheckbox{
    overflow: hidden;
}

.task-detail {
    background-color: #fff;
    padding-bottom: 1rem;
}

.task-detail-form {
    margin: auto;
    width: 600px;
    padding: 20px;
}

.task-details {
    margin: auto;
    width: 600px;
}