<o-form service="projects" entity="project" keys="P_ID" header-actions="R;I;U;D" show-header-navigation="no">
  <o-column class="new-project">
    <o-row>
      <o-text-input fxFlex="70" class="input-padding" attr="P_NAME" required="yes"></o-text-input>
      <o-integer-input fxFlex="30" class="input-padding" attr="P_MAX_HOURS" required="yes"></o-integer-input>
    </o-row>
    <o-row>
      <o-textarea-input fxFlex="100" class="input-padding" attr="P_DESCRIPTION" required="yes"></o-textarea-input>
    </o-row>
    <o-row>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100">
      </div>
    </o-row>
  </o-column>
</o-form>