<!-- <o-form service="usersProjects" query-on-init="no" entity="usersProject" keys="UP_ID">
    <o-list-picker attr="P_ID" service="projects" entity="project" value-column="P_ID" columns="P_ID;P_NAME;P_DESCRIPTION" 
       visible-columns="P_NAME;P_DESCRIPTION" separator=" " required="yes">
    </o-list-picker>
    <o-list-picker attr="USER_" service="tusers" entity="tuser" parent-keys="UP_ID" value-column="USER_" 
       columns="USER_;NAME;SURNAME" visible-columns="NAME;SURNAME" separator=" " 
       required="yes" read-only="yes">
    </o-list-picker>
 </o-form> -->
 <p>estas aqui</p>