/* You can add global styles to this file, and also import other style files */
.input-padding{
    padding-right: 6px;
  }

mat-toolbar {
  display: grid !important;
}

.tracking-content o-table-buttons {
  display: none !important;
}

.tracking-form {
  o-form-toolbar {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}
