/* You can add global styles to this file, and also import other style files */
.input-padding{
    padding-right: 6px;
  }

mat-toolbar {
  display: grid !important;
}

.tracking-content o-table-buttons {
  display: none !important;
}

.tracking-form {
  o-form-toolbar {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

app-timer-controls {
  display: flex;
}

.o-app-header.o-app-header-medium {
  height: auto !important;
}

.o-app-header {
  nav {
    padding-left: 16px;
  }
}

.application-layout-content-wrapper {
  position: unset !important;
}