<o-form service="projects" entity="projectTotalTime" (onDataLoaded)="viewData($event)" keys="P_ID"
    header-actions="R;U;D" show-header-navigation="no" undo-button="no">
    <o-text-input attr="P_ID" sql-type="INTEGER" hidden></o-text-input>
    <o-row class="project-details">
        <div class="project-details-header">
            <div>
                <label for="project-name-header">{{ 'P_NAME' | oTranslate }}</label>
                <p #projectNameHeader id="project-name-header"></p>
            </div>
            <div>
                <label for="total-time-header">{{ 'TOTAL_TASK_TIME' | oTranslate }}</label>
                <p #totalTimeHeader id="total-time-header"></p>
            </div>
            <div class="progress">
                <label for="progress-header">{{ 'PROGRESS_PERCENT' | oTranslate }}</label>
                <p #progressPercentHeader id="progress-header"></p>
            </div>
        </div>
        <o-text-input class="input-padding" attr="P_NAME_TITLE" read-only="yes" hidden="yes"></o-text-input>
        <o-text-input #projectTime attr="PROJECT_TOTAL_TIME" read-only="yes" hidden="yes"></o-text-input>
    </o-row>
    <mat-tab-group oTabGroup="ontimize" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{ 'PROJECT_DETAILS' | oTranslate }}">
            <o-row>
                <o-column fxFlex="50" title-label="PROJECT_DETAILS">
                    <o-column title="{{ 'EDIT_FIELDS' | oTranslate }}"></o-column>
                    <o-row>
                        <o-text-input class="input-padding" attr="P_NAME" fxFlex="60" required="no"></o-text-input>
                        <o-date-input attr="P_DATE" fxFlex="30" read-only="yes" class="read-only"></o-date-input>
                    </o-row>
                    <o-row>
                        <o-textarea-input attr="P_DESCRIPTION" fxFlex="90"></o-textarea-input>
                    </o-row>
                    <o-row class="container">
                        <o-column fxFlex="20">
                            <o-integer-input #maxHours appearance="outline" attr="P_MAX_HOURS" required="no"
                                (onValueChange)="setNullMax()"></o-integer-input>
                        </o-column>
                        <o-column fxFlex="70">
                            <o-checkbox fxFlex attr="P_FINISHED" label="ARCHIVE_PROJECT" read-only="no"></o-checkbox>
                        </o-column>
                    </o-row>
                </o-column>
                <o-column fxFlex="50">
                    <o-column title="{{ 'PROJECT_USERS' | oTranslate }}"></o-column>
                    <o-form-layout-manager mode="dialog" title="NEW_USER" separator="" attr="newUser">
                        <o-form-layout-dialog-options width="600px" height="450px"
                            disable-close="false"></o-form-layout-dialog-options>
                        <o-table class="usersProjectTable" service="usersProjects" entity="usersProjectsNames"
                            parent-keys="P_ID" keys="UP_ID" columns="UP_ID;P_ID;NAME"
                            insert-form-route="addUserProject/new" visible-columns="NAME" query-rows="5"
                            detail-mode="none" insert-button="yes">
                            <o-table-column attr="NAME" class="text-center"></o-table-column>
                        </o-table>
                    </o-form-layout-manager>
                </o-column>
            </o-row>
        </mat-tab>
        <mat-tab label="{{ 'PROJECT_TASKS' | oTranslate }}">
            <o-column fxFlex="100">
                <o-table #tasksTable attr="tasksTable" service="tasks" entity="projectTask" keys="T_ID"
                    parent-keys="P_ID"
                    columns="T_ID;P_NAME;T_NAME;T_DATE;TOTAL_TASK_TIME;TOTAL_TASK_TIME_DECIMAL;USER_TASK_TIME;T_FINISHED"
                    virtual-scroll="no" delete-button="no" query-rows="20" insert-button="yes"
                    detail-form-route="/main/tasks/"
                    visible-columns="T_NAME;T_DATE;TOTAL_TASK_TIME;TOTAL_TASK_TIME_DECIMAL;USER_TASK_TIME;T_FINISHED"
                    default-visible-columns="T_NAME;T_DATE;TOTAL_TASK_TIME;USER_TASK_TIME;T_FINISHED">
                    <o-table-column attr="P_NAME" title="P_NAME"></o-table-column>
                    <o-table-column attr="T_NAME" title="T_NAME"></o-table-column>
                    <o-table-column attr="T_DATE" title="T_DATE" type="date" format="DD/MM/YYYY HH:mm"></o-table-column>
                    <o-table-column attr="USER_TASK_TIME" title="USER_TASK_TIME" class="text-center">
                        <app-duration-render></app-duration-render>
                    </o-table-column>
                    <o-table-column attr="TOTAL_TASK_TIME" title="TOTAL_TASK_TIME" class="text-center">
                        <app-duration-render></app-duration-render>
                    </o-table-column>
                    <o-table-column attr="TOTAL_TASK_TIME_DECIMAL" title="TOTAL_TASK_TIME_DECIMAL" class="text-center">
                        <app-duration-decimal-render></app-duration-decimal-render>
                    </o-table-column>
                    <o-table-column attr="T_FINISHED" class="text-center">
                        <app-boolean-finished-render></app-boolean-finished-render>
                    </o-table-column>
                </o-table>
            </o-column>
        </mat-tab>
        <mat-tab label="{{ 'PROJECT_SUMMARY' | oTranslate }}">
            <o-column>
                <o-form-layout-manager mode="dialog" title="PROJECT_SUMMARY" separator="" attr="summary">
                    <o-form-layout-dialog-options width="600px" height="450px"
                        disable-close="false"></o-form-layout-dialog-options>
                    <o-row>
                        <o-column fxFlex="45" class="tableContainers">
                            <o-column title="{{ 'TASKS' |oTranslate}}"></o-column>
                            <o-table attr="projectSummaryTasksTable" service="tasks" entity="projectSummaryTasksTable"
                                keys="T_ID" parent-keys="P_ID"
                                columns="T_ID;T_NAME;TOTAL_TASK_TIME;TOTAL_TASK_TIME_DECIMAL;T_FINISHED"
                                virtual-scroll="no" controls="no" insert-button="yes" detail-mode="none"
                                visible-columns="T_NAME;TOTAL_TASK_TIME;TOTAL_TASK_TIME_DECIMAL;T_FINISHED"
                                default-visible-columns="T_NAME;TOTAL_TASK_TIME;T_FINISHED" pagination-controls="yes">
                                <o-table-column attr="T_DATE" title="T_DATE" type="date"
                                    format="DD/MM/YYYY HH:mm"></o-table-column>
                                <o-table-column attr="USER_TASK_TIME" title="USER_TASK_TIME" class="text-center">
                                    <app-duration-render></app-duration-render>
                                </o-table-column>
                                <o-table-column attr="TOTAL_TASK_TIME" title="TOTAL_TASK_TIME" class="text-center">
                                    <app-duration-render></app-duration-render>
                                </o-table-column>
                                <o-table-column attr="TOTAL_TASK_TIME_DECIMAL" title="TOTAL_TASK_TIME_DECIMAL"
                                    class="text-center">
                                    <app-duration-decimal-render></app-duration-decimal-render>
                                </o-table-column>
                                <o-table-column attr="T_FINISHED" class="text-center">
                                    <app-boolean-finished-render></app-boolean-finished-render>
                                </o-table-column>
                            </o-table>
                        </o-column>
                        <o-column fxFlex="45" class="tableContainers">
                            <o-column title="{{ 'USERS' |oTranslate}}"></o-column>
                            <o-table class="usersProjectTable" service="usersProjects" entity="usersProjectTimeTable"
                                parent-keys="P_ID" keys="P_ID" columns="P_ID;USER_;USER_PROJECT_TIME"
                                visible-columns="USER_;USER_PROJECT_TIME" detail-mode="none" controls="no"
                                virtual-scroll="no">
                                <o-table-column title="NAME" attr="USER_" class="text-center"></o-table-column>
                                <o-table-column title="PROJECT_TOTAL_TIME" attr="USER_PROJECT_TIME" class="text-center">
                                    <app-duration-render></app-duration-render>
                                </o-table-column>
                            </o-table>
                        </o-column>
                    </o-row>
                    <o-row>
                        <o-column fxFlex="45" class="tableContainers">
                            <span class="chartTitle">{{'TASKS_PROJECTS_GRAPH_TITLE' | oTranslate }}</span>
                            <o-chart #tasksChart type="pie" service="tasks" entity="projectSummaryTasksGraph"
                                parent-keys="P_ID" x-axis="T_NAME" y-axis="TOTAL_TASK_TIME"
                                [chart-parameters]="tasksChartParameters"></o-chart>
                        </o-column>
                        <o-column fxFlex="45" class="tableContainers">
                            <span class="chartTitle">{{'USER_PROJECT_GRAPH_TITLE' | oTranslate }}</span>
                            <o-chart #usersChart type="pie" service="usersProjects" entity="usersProjectTimeGraph"
                                parent-keys="P_ID" x-axis="USER_" y-axis="USER_PROJECT_TIME"
                                [chart-parameters]="usersChartParameters"></o-chart>
                        </o-column>
                    </o-row>
                </o-form-layout-manager>
            </o-column>
        </mat-tab>
    </mat-tab-group>
</o-form>