.usersProjectTable, .archiveProjectCheckbox {
    overflow: hidden;
}

.container {
   display: flex;
   align-items: center;

   o-checkbox {
    margin-block: auto;
    margin-left: auto;
    padding-bottom: 1.34375em;
   }
}

.project-details {
    margin: auto;
    width: 600px;
}

.project-alldetails {
    display: flex;
    align-items: center;
    gap: 50px;
}