.usersProjectTable, .archiveProjectCheckbox {
    overflow: hidden;
}

.project-details {
    margin: auto;
    width: 600px;
}

.project-alldetails {
    display: flex;
    align-items: center;
    gap: 50px;
}
