.timer-control-btns {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-bottom: 1rem;
    
    button {
        padding: 8px 16px;
        border-radius: 3px;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        transition: 0.2s ease;
    }

    button:hover {
        filter: brightness(1.2);
        cursor: pointer;
    }

    .iniciar-jornada {
        background-color: #3366CC;
    }

    .pausar-jornada {
        background-color: #00A86B;
    }

    .reanudar-jornada {
        background-color: #34495e;
    }

    .finalizar-jornada {
        background-color: #E74C3C;
    }
}

.tracking-content {
    o-list {
      max-width: 800px !important;
      width: 100% !important;
  
    }
}